<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="templateString" type="LogsAutoParser.ConfigProvider, LogsAutoParser" />
  </configSections>
  <templateString>
    <string templateRegex="^\w*ira\w*" />
    <string templateRegex="^\w*vad\w*" />
    <string templateRegex="^\w*pet\w*" />
    <string templateRegex="^\w*pa\w*" />
    <string templateRegex="^\w*ne\w*" />
  </templateString>
  <appSettings>
    <add key="pathToCatalog" value="D:\\Projects\\LogsAutoParser\\Catalog"/>
    <add key="cartonId" value=""/>
    <add key="lpnCartons" value=""/>
  </appSettings>
</configuration>
