<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="getPathToCatalog" value="D:\\Projects\\LogsAutoParser\\Catalog2"/>
    <add key="templateString1" value="^\w*2019-11-19 11:19:43,655 DEBUG 94\w*"/>
    <add key="templateString2" value="^\w*2019-11-19 11:19:43,657 DEBUG 86\w*"/>
    <add key="templateString3" value="^\w*2019-11-19 11:19:43,655 DEBUG 50\w*"/>
    <add key="templateString4" value="^\w*2019-11-19 11:19:43,651 DEBUG 50\w*"/>
    <add key="templateString5" value="^\w*2019-11-19 11:19:43,652 DEBUG 50\w*"/>
  </appSettings>
</configuration>
