<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="patternListById" type="LogsAutoParser.ConfigProvider, LogsAutoParser" />
  </configSections>
  <patternListById>
    <string templateRegex="Entering InboundCaseReceivedHandler:" />
    <string templateRegex="InboundCartonFactory.CreateInboundCarton Returning:" />
    <string templateRegex="Added inbound carton to queue:" />
    <string templateRegex="Exiting InboundCaseReceivedHandler:" />
    <string templateRegex="Remo inbound carton from queue:" />
  </patternListById>
  <appSettings>
    <add key="pathToCatalog" value="D:\\Projects\\LogsAutoParser\\Catalog"/>
    <add key="cartonId" value="Case-2"/>
    <add key="lpnCartons" value="1234"/>
  </appSettings>
</configuration>
